@import "tailwindcss";

/* --black: #000000ff;
--oxford-blue: #14213dff;
--orange-web: #fca311ff;
--platinum: #e5e5e5ff;
--white: #ffffffff; */

:root {
  /* Black */
  --black: #000000;
  --black-100: #000000;
  --black-200: #000000;
  --black-300: #000000;
  --black-400: #000000;
  --black-500: #000000;
  --black-600: #333333;
  --black-700: #666666;
  --black-800: #999999;
  --black-900: #cccccc;

  /* Oxford Blue */
  --oxford-blue: #14213d;
  --oxford-blue-100: #04070c;
  --oxford-blue-200: #080d19;
  --oxford-blue-300: #0c1425;
  --oxford-blue-400: #101b31;
  --oxford-blue-500: #14213d;
  --oxford-blue-600: #29447e;
  --oxford-blue-700: #3e67bf;
  --oxford-blue-800: #7e99d5;
  --oxford-blue-900: #beccea;

  /* Orange Web */
  --orange-web: #fca311;
  --orange-web-100: #362101;
  --orange-web-200: #6b4201;
  --orange-web-300: #a16402;
  --orange-web-400: #d68502;
  --orange-web-500: #fca311;
  --orange-web-600: #fdb541;
  --orange-web-700: #fec871;
  --orange-web-800: #fedaa0;
  --orange-web-900: #ffedd0;

  /* Platinum */
  --platinum: #e5e5e5;
  --platinum-100: #2e2e2e;
  --platinum-200: #5c5c5c;
  --platinum-300: #8a8a8a;
  --platinum-400: #b8b8b8;
  --platinum-500: #e5e5e5;
  --platinum-600: #ebebeb;
  --platinum-700: #f0f0f0;
  --platinum-800: #f5f5f5;
  --platinum-900: #fafafa;

  /* White */
  --white: #ffffff;
  --white-100: #333333;
  --white-200: #666666;
  --white-300: #999999;
  --white-400: #cccccc;
  --white-500: #ffffff;
  --white-600: #ffffff;
  --white-700: #ffffff;
  --white-800: #ffffff;
  --white-900: #ffffff;
}
